$textShadows:15px 6px 5px black;
$logoFontColor:#ffa600;
$linkColor:#ffa600;

$breakpoint:480px;

@mixin screen-media($breakpoint){
  @media only screen and (max-width:$breakpoint){
    @content;
  }
}

html {
  background: rgb(56, 56, 56);
}

body {
  margin: 0%;
  
  header {
    height: 400px;
    background: linear-gradient(  rgba(228, 208, 208, 0.1),rgba(116, 86, 3, 0.308) ), url("../images/shoes7.JPG") repeat-x left/500px 280px;
    nav{
      height: 0px;
      ul{
        list-style-type: none;
        margin: 0;
        padding: 0;
        display: inline-block;
        li{
          float: left;
          a {
            display: block;
            color: $linkColor;
            text-align: center;
            padding: 14px 16px;
            text-decoration: none;
            font-size: 20px;
            font-weight: bold;
            &:hover{
              background-color: black;
              animation: pulse 2.5s infinite;
            }
          }
        }
      }
    }
  
    #logocomplete{
      overflow: hidden;
      @include screen-media($breakpoint){
        transform: scale(.75,.75);
        margin:-36px;
      }

      img#logoimg{
        height: 150px;
        width: 200px;
        display: block;
        margin: auto;
        filter:invert(100%) drop-shadow(25px 10px 4px black);
        animation: bounce 2s;
        @include screen-media($breakpoint){
          animation-name: none;
        }
      }
      
      div#slogan {
        padding-top: 0px;
        margin-top: 2px;
        text-align: center;
        animation: slideInRight 2s ease-in;
        @include screen-media($breakpoint){
          animation-name: none;
        }
        >h3{
        color:$logoFontColor;
        text-shadow: $textShadows;
        font-family: 'Merienda', cursive;
        font-size: 30px;
        }
      }
      div#companyname{
        text-align: center;
        animation: slideInRight 1.10s ease-in;
        @include screen-media($breakpoint){
          animation-name: none;
        }
        >h1{
          color: $logoFontColor;
          text-shadow: $textShadows;
          font-family: 'Passion One', cursive;
          font-size: 80px;
          
        }
      }
    }
  }
  section{
    width: 80%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    @include screen-media($breakpoint){
      width: 100%;
    }
    aside#info{
      background: url("../images/shoe_icons.jpg") no-repeat center / cover;
      margin: 25px;
      box-shadow: inset 10px 10px 20px rgba(255, 157, 0, 0.4),
                  inset -10px -10px 20px rgba(255, 157, 0, 0.4);
      border-radius: 15px;
      padding: 10px;
      @include screen-media($breakpoint){
        margin:25px 0px;
      }
      &:first-of-type {
        -webkit-flex: 1 1 300px;
        flex: 1 1 300px;
      }
          article{
            background-color: rgba(255, 255, 255, 0.705);
            margin: 20px 20px;
            color:black;
            font-family: 'Merienda', cursive;
            font-weight: bold;
            font-size: 20px;
            text-shadow: 2px 2px 20px;
            hr{
              border: 1px solid black;
              margin: 10px 10px;
              border-radius: 3px;
            }
            a{
              display:inline-block;
              color:black;
              &:hover{
                background-color: $linkColor;
                animation: pulse 2.5s infinite;
              }
            }
          }
          
          table.chart{
            border: 1px solid black;
            width: 100%;
              caption{
                text-align: center;
                font-size: 1.25em;
                text-decoration: underline;
                text-decoration-style: wavy;
              }
              thead {
                text-align: center;
              }
              tfoot{
                text-align: left;
                font-size: .75em;
              }
              tbody{
                text-align: center;
              }
            tr{
              td{
                border: 1px solid black;
                width: 33%;
                padding: 15px;
              }
            }
          }
    } 

    aside#productImages{
      color: black;   
      margin: 25px 25px;

      background-image: linear-gradient(to right, #FAF0A9 , #FAED8F) ;
      box-shadow: inset 10px 10px 20px rgba(255, 157, 0, 0.4),
                  inset -10px -10px 20px rgba(255, 157, 0, 0.4);
      border-radius: 15px;
      height: 100%;
      &:last-of-type {
        -webkit-flex:1 1 300px;
        flex: 1 1 300px;
      }
      figure{
        text-align: center;
        div.pictures{
          display: inline-block;
        }
        img{
        width: 175px;
        height: 175px;
        }
      }
     
    }
  }
  

input, select, textarea {
	width: 100%;
	padding: 12px;
	border: 1px solid #ccc;
	margin-top: 6px;
	margin-bottom: 16px;
	resize: vertical;
}
form {
	padding: 10px;
	width: 50%;
  margin: auto;
  color: $logoFontColor;
}
}
/*Animations*/
  @keyframes pulse {
    from {
      -webkit-transform: scale3d(1, 1, 1);
      transform: scale3d(1, 1, 1);
    }
  
    50% {
      -webkit-transform: scale3d(1.2, 1.2, 1.2);
      transform: scale3d(1.2, 1.2, 1.2);
    }
  
    to {
      -webkit-transform: scale3d(1, 1, 1);
      transform: scale3d(1, 1, 1);
    }
  }

@keyframes bounce {
  from {
    opacity: 0;
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
    visibility: visible;
  }

  10%{
    -webkit-transform: translate3d(-90%, -30px, 0);
    transform: translate3d(-90%, -30px, 0);
  }

  20%{
    -webkit-transform: translate3d(-80%, 0, 0);
    transform: translate3d(-80%, 0, 0);
  }

  30%{
    -webkit-transform: translate3d(-70%, -30, 0);
    transform: translate3d(-70%, -30px, 0);
  }

  40%{
    -webkit-transform: translate3d(-60%, 0, 0);
    transform: translate3d(-60%, 0, 0);
  }

  50%{
    -webkit-transform: translate3d(-50%, -30px, 0);
    transform: translate3d(-50%, -30px, 0);
  }

  60%{
    -webkit-transform: translate3d(-40%, 0, 0);
    transform: translate3d(-40%, 0, 0);
  }

  70%{
    -webkit-transform: translate3d(-30%, -30px, 0);
    transform: translate3d(-30%, -30px, 0);
  }

  80%{
    -webkit-transform: translate3d(-20%, 0, 0);
    transform: translate3d(-20%, 0, 0);
  }

  90%{
    -webkit-transform: translate3d(-10%, -30, 0);
    transform: translate3d(-10%, -30px, 0);
  }
  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}


@keyframes slideInRight{
  from {
    opacity: 0;
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
    visibility: visible;
  }

  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

